
android.useAndroidX=true
android.enableJetifier=true
kotlin.code.style=official
android.enableUnitTestBinaryResources=true

MASTER_KEY=${MASTER_KEY}
APP_ID=${APP_ID}
APP_VERSION=${APP_VERSION}

API_URL=${API_URL}

FRONT_API_URL=${FRONT_API_URL}
DEMO_API_URL=${DEMO_API_URL}
STAGE_API_URL=${STAGE_API_URL}
TEST_API_URL=${TEST_API_URL}
DEV_API_URL=${DEV_API_URL}